# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

Frontend/node_modules/
Backend/__pycache__/
Backend/routers/__pycache__/
node_modules/
dist
dist-ssr
*.local
__pycache__/
*.pyc

# Editor directories and files
.claude/*
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.md
